<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
    <servlet>
    	<description>
    	</description>
    	<display-name>MostrarProductos</display-name>
    	<servlet-name>MostrarProductos</servlet-name>
    	<servlet-class>servlet.MostrarProductos</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>MostrarProductos</servlet-name>
		<url-pattern>/mostrar_productos</url-pattern>
	</servlet-mapping>

    <servlet>
    	<description>
    	</description>
    	<display-name>Ajax</display-name>
    	<servlet-name>Ajax</servlet-name>
    	<servlet-class>Ajax</servlet-class>
    </servlet>

	<servlet>
		<description>
		</description>
		<display-name>SubirArchivo</display-name>
		<servlet-name>SubirArchivo</servlet-name>
		<servlet-class>servlet.SubirArchivo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubirArchivo</servlet-name>
		<url-pattern>/subir_archivo</url-pattern>
	</servlet-mapping>


    <servlet-mapping>
    	<servlet-name>Ajax</servlet-name>
    	<url-pattern>/Ajax</url-pattern>
    </servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>MostrarAuditoria</display-name>
		<servlet-name>MostrarAuditoria</servlet-name>
		<servlet-class>servlet.MostrarAuditoria</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarAuditoria</servlet-name>
		<url-pattern>/mostrar_auditoria</url-pattern>
	</servlet-mapping>

	<servlet>
	<description>
	</description>
	<display-name>MostrarPrecios</display-name>
	<servlet-name>MostrarPrecios</servlet-name>
	<servlet-class>servlet.MostrarPrecios</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarPrecios</servlet-name>
		<url-pattern>/mostrar_precios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>MostrarStock</display-name>
		<servlet-name>MostrarStock</servlet-name>
		<servlet-class>servlet.MostrarStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarStock</servlet-name>
		<url-pattern>/mostrar_stock</url-pattern>
	</servlet-mapping>

	<servlet>
	<description>
	</description>
	<display-name>Procesar</display-name>
	<servlet-name>Procesar</servlet-name>
	<servlet-class>servlet.Procesar</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Procesar</servlet-name>
		<url-pattern>/procesar</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailProductos</display-name>
		<servlet-name>EnviarMailProductos</servlet-name>
		<servlet-class>servlet.mail.EnviarMailProductos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailProductos</servlet-name>
		<url-pattern>/enviar_mail_productos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailPrecios</display-name>
		<servlet-name>EnviarMailPrecios</servlet-name>
		<servlet-class>servlet.mail.EnviarMailPrecios</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailPrecios</servlet-name>
		<url-pattern>/enviar_mail_precios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailStock</display-name>
		<servlet-name>EnviarMailStock</servlet-name>
		<servlet-class>servlet.mail.EnviarMailStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailStock</servlet-name>
		<url-pattern>/enviar_mail_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>Servlet</display-name>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>servlet.Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosTotal</display-name>
		<servlet-name>CantProductosTotal</servlet-name>
		<servlet-class>servlet.ReportProduct.CantProductosTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosTotal</servlet-name>
		<url-pattern>/cant_productos_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosProcesados</display-name>
		<servlet-name>CantProductosProcesados</servlet-name>
		<servlet-class>servlet.ReportProduct.CantProductosProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosProcesados</servlet-name>
		<url-pattern>/cant_productos_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosNoProcesados</display-name>
		<servlet-name>CantProductosNoProcesados</servlet-name>
		<servlet-class>servlet.ReportProduct.CantProductosNoProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosNoProcesados</servlet-name>
		<url-pattern>/cant_productos_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosError</display-name>
		<servlet-name>CantProductosError</servlet-name>
		<servlet-class>servlet.ReportProduct.CantProductosError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosError</servlet-name>
		<url-pattern>/cant_productos_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockTotal</display-name>
		<servlet-name>CantStockTotal</servlet-name>
		<servlet-class>servlet.reporteStock.CantStockTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockTotal</servlet-name>
		<url-pattern>/cant_stock_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockProcesados</display-name>
		<servlet-name>CantStockProcesados</servlet-name>
		<servlet-class>servlet.reporteStock.CantStockProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockProcesados</servlet-name>
		<url-pattern>/cant_stock_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockNoProcesados</display-name>
		<servlet-name>CantStockNoProcesados</servlet-name>
		<servlet-class>servlet.reporteStock.CantStockNoPocesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockNoProcesados</servlet-name>
		<url-pattern>/cant_stock_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockError</display-name>
		<servlet-name>CantStockError</servlet-name>
		<servlet-class>servlet.reporteStock.CantStockError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockError</servlet-name>
		<url-pattern>/cant_stock_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosTotal</display-name>
		<servlet-name>CantPreciosTotal</servlet-name>
		<servlet-class>servlet.reportePrecios.CantPreciosTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosTotal</servlet-name>
		<url-pattern>/cant_precios_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosProcesados</display-name>
		<servlet-name>CantPreciosProcesados</servlet-name>
		<servlet-class>servlet.reportePrecios.CantPreciosProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosProcesados</servlet-name>
		<url-pattern>/cant_precios_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosNoProcesados</display-name>
		<servlet-name>CantPreciosNoProcesados</servlet-name>
		<servlet-class>servlet.reportePrecios.CantPreciosNoProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosNoProcesados</servlet-name>
		<url-pattern>/cant_precios_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosError</display-name>
		<servlet-name>CantPreciosError</servlet-name>
		<servlet-class>servlet.reportePrecios.CantPreciosError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosError</servlet-name>
		<url-pattern>/cant_precios_error</url-pattern>
	</servlet-mapping>

	<servlet>
	<description>
	</description>
	<display-name>ListaNombreArchivos</display-name>
	<servlet-name>ListaNombreArchivos</servlet-name>
	<servlet-class>servlet.ListaNombreArchivos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListaNombreArchivos</servlet-name>
		<url-pattern>/lista_nombre_archivos</url-pattern>
	</servlet-mapping>


	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoPoductos</display-name>
		<servlet-name>CargarHistoricoProductos</servlet-name>
		<servlet-class>servlet.CargarHistoricoProductos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoProductos</servlet-name>
		<url-pattern>/cargar_historico_productos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoPrecios</display-name>
		<servlet-name>CargarHistoricoPrecios</servlet-name>
		<servlet-class>servlet.CargarHistoricoPrecios</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoPrecios</servlet-name>
		<url-pattern>/cargar_historico_precios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoStock</display-name>
		<servlet-name>CargarHistoricoStock</servlet-name>
		<servlet-class>servlet.CargarHistoricoStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoStock</servlet-name>
		<url-pattern>/cargar_historico_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>ConsultarHistorico</display-name>
		<servlet-name>ConsultarHistorico</servlet-name>
		<servlet-class>servlet.consultarHistorico.ConsultarHistorico</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsultarHistorico</servlet-name>
		<url-pattern>/consultar_historico</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>ConsultarHistoricoPrecios</display-name>
		<servlet-name>ConsultarHistoricoPrecios</servlet-name>
		<servlet-class>servlet.consultarHistorico.ConsultarHistoricoPrecios</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsultarHistoricoPrecios</servlet-name>
		<url-pattern>/consultar_historico_precios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>ConsultarHistoricoStock</display-name>
		<servlet-name>ConsultarHistoricoStock</servlet-name>
		<servlet-class>servlet.consultarHistorico.ConsultarHistoricoStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsultarHistoricoStock</servlet-name>
		<url-pattern>/consultar_historico_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarProduct</display-name>
		<servlet-name>DescargarProduct</servlet-name>
		<servlet-class>servlet.DescargarProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarProduct</servlet-name>
		<url-pattern>/descargar_product</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarPrice</display-name>
		<servlet-name>DescargarPrice</servlet-name>
		<servlet-class>servlet.DescargarPrice</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarPrice</servlet-name>
		<url-pattern>/descargar_price</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarStock</display-name>
		<servlet-name>DescargarStock</servlet-name>
		<servlet-class>servlet.DescargarStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarStock</servlet-name>
		<url-pattern>/descargar_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>LimpiarTablaAuditoria</display-name>
		<servlet-name>LimpiarTablaAuditoria</servlet-name>
		<servlet-class>servlet.LimpiarTablaAuditoria</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LimpiarTablaAuditoria</servlet-name>
		<url-pattern>/limpiar_tabla_auditoria</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarPreciosNoCorrectos</display-name>
		<servlet-name>DescargarPreciosNoCorrectos</servlet-name>
		<servlet-class>servlet.DescargarPreciosNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarPreciosNoCorrectos</servlet-name>
		<url-pattern>/descargar_precios_no_correctos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarProductosNoCorrectos</display-name>
		<servlet-name>DescargarProductosNoCorrectos</servlet-name>
		<servlet-class>servlet.DescargarProductosNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarProductosNoCorrectos</servlet-name>
		<url-pattern>/descargar_productos_no_correctos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarStockNoCorrectos</display-name>
		<servlet-name>DescargarStockNoCorrectos</servlet-name>
		<servlet-class>servlet.DescargarStockNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarStockNoCorrectos</servlet-name>
		<url-pattern>/descargar_stock_no_correctos</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>
		Main.html
		</welcome-file>
	</welcome-file-list>
   
</web-app>  