<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
    <servlet>
    	<description>
    	</description>
    	<display-name>MostrarProductos</display-name>
    	<servlet-name>MostrarProductos</servlet-name>
    	<servlet-class>servlet.registros.mostrar.MostrarProductos</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>MostrarProductos</servlet-name>
		<url-pattern>/mostrar_productos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>SubirArchivo</display-name>
		<servlet-name>SubirArchivo</servlet-name>
		<servlet-class>servlet.registros.SubirArchivo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubirArchivo</servlet-name>
		<url-pattern>/subir_archivo</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>MostrarAuditoria</display-name>
		<servlet-name>MostrarAuditoria</servlet-name>
		<servlet-class>servlet.registros.mostrar.MostrarAuditoria</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarAuditoria</servlet-name>
		<url-pattern>/mostrar_auditoria</url-pattern>
	</servlet-mapping>

	<servlet>
	<description>
	</description>
	<display-name>MostrarPrecios</display-name>
	<servlet-name>MostrarPrecios</servlet-name>
	<servlet-class>servlet.registros.mostrar.MostrarPrecios</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarPrecios</servlet-name>
		<url-pattern>/mostrar_precios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>MostrarStock</display-name>
		<servlet-name>MostrarStock</servlet-name>
		<servlet-class>servlet.registros.mostrar.MostrarStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarStock</servlet-name>
		<url-pattern>/mostrar_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>MostrarMedia</display-name>
		<servlet-name>MostrarMedia</servlet-name>
		<servlet-class>servlet.registros.mostrar.MostrarMedia</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarMedia</servlet-name>
		<url-pattern>/mostrar_media</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>MostrarMerchandise</display-name>
		<servlet-name>MostrarMerchandise</servlet-name>
		<servlet-class>servlet.registros.mostrar.MostrarMerchandise</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarMerchandise</servlet-name>
		<url-pattern>/mostrar_merchandise</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>MostrarClasificacion</display-name>
		<servlet-name>MostrarClasificacion</servlet-name>
		<servlet-class>servlet.registros.mostrar.MostrarClasificacion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MostrarClasificacion</servlet-name>
		<url-pattern>/mostrar_clasificacion</url-pattern>
	</servlet-mapping>

	<servlet>
	<description>
	</description>
	<display-name>Procesar</display-name>
	<servlet-name>Procesar</servlet-name>
	<servlet-class>servlet.registros.Procesar</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Procesar</servlet-name>
		<url-pattern>/procesar</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailProductos</display-name>
		<servlet-name>EnviarMailProductos</servlet-name>
		<servlet-class>servlet.mail.EnviarMailProductos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailProductos</servlet-name>
		<url-pattern>/enviar_mail_productos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailPrecios</display-name>
		<servlet-name>EnviarMailPrecios</servlet-name>
		<servlet-class>servlet.mail.EnviarMailPrecios</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailPrecios</servlet-name>
		<url-pattern>/enviar_mail_precios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailStock</display-name>
		<servlet-name>EnviarMailStock</servlet-name>
		<servlet-class>servlet.mail.EnviarMailStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailStock</servlet-name>
		<url-pattern>/enviar_mail_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailMedia</display-name>
		<servlet-name>EnviarMailMedia</servlet-name>
		<servlet-class>servlet.mail.EnviarMailMedia</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailMedia</servlet-name>
		<url-pattern>/enviar_mail_media</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailMerchandise</display-name>
		<servlet-name>EnviarMailMerchandise</servlet-name>
		<servlet-class>servlet.mail.EnviarMailMerchandise</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailMerchandise</servlet-name>
		<url-pattern>/enviar_mail_merchandise</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>EnviarMailClasificacion</display-name>
		<servlet-name>EnviarMailClasificacion</servlet-name>
		<servlet-class>servlet.mail.EnviarMailClasificacion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EnviarMailClasificacion</servlet-name>
		<url-pattern>/enviar_mail_clasificacion</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>Servlet</display-name>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>servlet.ejemplo.Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosTotal</display-name>
		<servlet-name>CantProductosTotal</servlet-name>
		<servlet-class>servlet.reportes.productos.CantProductosTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosTotal</servlet-name>
		<url-pattern>/cant_productos_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosProcesados</display-name>
		<servlet-name>CantProductosProcesados</servlet-name>
		<servlet-class>servlet.reportes.productos.CantProductosProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosProcesados</servlet-name>
		<url-pattern>/cant_productos_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosNoProcesados</display-name>
		<servlet-name>CantProductosNoProcesados</servlet-name>
		<servlet-class>servlet.reportes.productos.CantProductosNoProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosNoProcesados</servlet-name>
		<url-pattern>/cant_productos_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantProductosError</display-name>
		<servlet-name>CantProductosError</servlet-name>
		<servlet-class>servlet.reportes.productos.CantProductosError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantProductosError</servlet-name>
		<url-pattern>/cant_productos_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockTotal</display-name>
		<servlet-name>CantStockTotal</servlet-name>
		<servlet-class>servlet.reportes.stock.CantStockTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockTotal</servlet-name>
		<url-pattern>/cant_stock_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockProcesados</display-name>
		<servlet-name>CantStockProcesados</servlet-name>
		<servlet-class>servlet.reportes.stock.CantStockProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockProcesados</servlet-name>
		<url-pattern>/cant_stock_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockNoProcesados</display-name>
		<servlet-name>CantStockNoProcesados</servlet-name>
		<servlet-class>servlet.reportes.stock.CantStockNoPocesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockNoProcesados</servlet-name>
		<url-pattern>/cant_stock_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantStockError</display-name>
		<servlet-name>CantStockError</servlet-name>
		<servlet-class>servlet.reportes.stock.CantStockError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantStockError</servlet-name>
		<url-pattern>/cant_stock_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosTotal</display-name>
		<servlet-name>CantPreciosTotal</servlet-name>
		<servlet-class>servlet.reportes.precios.CantPreciosTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosTotal</servlet-name>
		<url-pattern>/cant_precios_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosProcesados</display-name>
		<servlet-name>CantPreciosProcesados</servlet-name>
		<servlet-class>servlet.reportes.precios.CantPreciosProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosProcesados</servlet-name>
		<url-pattern>/cant_precios_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosNoProcesados</display-name>
		<servlet-name>CantPreciosNoProcesados</servlet-name>
		<servlet-class>servlet.reportes.precios.CantPreciosNoProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosNoProcesados</servlet-name>
		<url-pattern>/cant_precios_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantPreciosError</display-name>
		<servlet-name>CantPreciosError</servlet-name>
		<servlet-class>servlet.reportes.precios.CantPreciosError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantPreciosError</servlet-name>
		<url-pattern>/cant_precios_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMediaTotal</display-name>
		<servlet-name>CantMediaTotal</servlet-name>
		<servlet-class>servlet.reportes.media.CantMediaTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMediaTotal</servlet-name>
		<url-pattern>/cant_media_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMediaProcesados</display-name>
		<servlet-name>CantMediaProcesados</servlet-name>
		<servlet-class>servlet.reportes.media.CantMediaProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMediaProcesados</servlet-name>
		<url-pattern>/cant_media_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMediaNoProcesados</display-name>
		<servlet-name>CantMediaNoProcesados</servlet-name>
		<servlet-class>servlet.reportes.media.CantMediaNoProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMediaNoProcesados</servlet-name>
		<url-pattern>/cant_media_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMediaError</display-name>
		<servlet-name>CantMediaError</servlet-name>
		<servlet-class>servlet.reportes.media.CantMediaError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMediaError</servlet-name>
		<url-pattern>/cant_media_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMediaTotal</display-name>
		<servlet-name>CantMerchandiseTotal</servlet-name>
		<servlet-class>servlet.reportes.merchandise.CantMerchandiseTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMerchandiseTotal</servlet-name>
		<url-pattern>/cant_merchandise_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMerchandiseProcesados</display-name>
		<servlet-name>CantMerchandiseProcesados</servlet-name>
		<servlet-class>servlet.reportes.merchandise.CantMerchandiseProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMerchandiseProcesados</servlet-name>
		<url-pattern>/cant_merchandise_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMerchandiseNoProcesados</display-name>
		<servlet-name>CantMerchandiseNoProcesados</servlet-name>
		<servlet-class>servlet.reportes.merchandise.CantMerchandiseNoProcesados</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMerchandiseNoProcesados</servlet-name>
		<url-pattern>/cant_merchandise_no_procesados</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantMerchandiseError</display-name>
		<servlet-name>CantMerchandiseError</servlet-name>
		<servlet-class>servlet.reportes.merchandise.CantMerchandiseError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantMerchandiseError</servlet-name>
		<url-pattern>/cant_merchandise_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantClasificacionTotal</display-name>
		<servlet-name>CantClasificacionTotal</servlet-name>
		<servlet-class>servlet.reportes.clasificacion.CantClasificacionTotal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantClasificacionTotal</servlet-name>
		<url-pattern>/cant_clasificacion_total</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantClasificacionProcesado</display-name>
		<servlet-name>CantClasificacionProcesado</servlet-name>
		<servlet-class>servlet.reportes.clasificacion.CantClasificacionProcesado</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantClasificacionProcesado</servlet-name>
		<url-pattern>/cant_clasificacion_procesado</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantClasificacionNoProcesado</display-name>
		<servlet-name>CantClasificacionNoProcesado</servlet-name>
		<servlet-class>servlet.reportes.clasificacion.CantClasificacionNoProcesado</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantClasificacionNoProcesado</servlet-name>
		<url-pattern>/cant_clasificacion_no_procesado</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CantClasificacionError</display-name>
		<servlet-name>CantClasificacionError</servlet-name>
		<servlet-class>servlet.reportes.clasificacion.CantClasificacionError</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CantClasificacionError</servlet-name>
		<url-pattern>/cant_clasificacion_error</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoPoductos</display-name>
		<servlet-name>CargarHistoricoProductos</servlet-name>
		<servlet-class>servlet.registros.historico.cargar.CargarHistoricoProductos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoProductos</servlet-name>
		<url-pattern>/cargar_historico_productos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoPrecios</display-name>
		<servlet-name>CargarHistoricoPrecios</servlet-name>
		<servlet-class>servlet.registros.historico.cargar.CargarHistoricoPrecios</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoPrecios</servlet-name>
		<url-pattern>/cargar_historico_precios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoStock</display-name>
		<servlet-name>CargarHistoricoStock</servlet-name>
		<servlet-class>servlet.registros.historico.cargar.CargarHistoricoStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoStock</servlet-name>
		<url-pattern>/cargar_historico_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoMedia</display-name>
		<servlet-name>CargarHistoricoMedia</servlet-name>
		<servlet-class>servlet.registros.historico.cargar.CargarHistoricoMedia</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoMedia</servlet-name>
		<url-pattern>/cargar_historico_media</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoMerchandise</display-name>
		<servlet-name>CargarHistoricoMerchandise</servlet-name>
		<servlet-class>servlet.registros.historico.cargar.CargarHistoricoMerchandise</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoMerchandise</servlet-name>
		<url-pattern>/cargar_historico_merchandise</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CargarHistoricoClasificacion</display-name>
		<servlet-name>CargarHistoricoClasificacion</servlet-name>
		<servlet-class>servlet.registros.historico.cargar.CargarHistoricoClasificacion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CargarHistoricoClasificacion</servlet-name>
		<url-pattern>/cargar_historico_clasificacion</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>ConsultarHistorico</display-name>
		<servlet-name>ConsultarHistorico</servlet-name>
		<servlet-class>servlet.registros.historico.consultar.ConsultarHistorico</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConsultarHistorico</servlet-name>
		<url-pattern>/consultar_historico</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarProduct</display-name>
		<servlet-name>DescargarProduct</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarProduct</servlet-name>
		<url-pattern>/descargar_product</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarPrice</display-name>
		<servlet-name>DescargarPrice</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarPrice</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarPrice</servlet-name>
		<url-pattern>/descargar_price</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarStock</display-name>
		<servlet-name>DescargarStock</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarStock</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarStock</servlet-name>
		<url-pattern>/descargar_stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarMedia</display-name>
		<servlet-name>DescargarMedia</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarMedia</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarMedia</servlet-name>
		<url-pattern>/descargar_media</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarMerchandise</display-name>
		<servlet-name>DescargarMerchandise</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarMerchandise</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarMerchandise</servlet-name>
		<url-pattern>/descargar_merchandise</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarClasificacion</display-name>
		<servlet-name>DescargarClasificacion</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarClasificacion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarClasificacion</servlet-name>
		<url-pattern>/descargar_clasificacion</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>LimpiarTablaAuditoria</display-name>
		<servlet-name>LimpiarTablaAuditoria</servlet-name>
		<servlet-class>servlet.registros.LimpiarTablaAuditoria</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LimpiarTablaAuditoria</servlet-name>
		<url-pattern>/limpiar_tabla_auditoria</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarPreciosNoCorrectos</display-name>
		<servlet-name>DescargarPreciosNoCorrectos</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarPreciosNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarPreciosNoCorrectos</servlet-name>
		<url-pattern>/descargar_precios_no_correctos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarProductosNoCorrectos</display-name>
		<servlet-name>DescargarProductosNoCorrectos</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarProductosNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarProductosNoCorrectos</servlet-name>
		<url-pattern>/descargar_productos_no_correctos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarStockNoCorrectos</display-name>
		<servlet-name>DescargarStockNoCorrectos</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarStockNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarStockNoCorrectos</servlet-name>
		<url-pattern>/descargar_stock_no_correctos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarMediaNoCorrectos</display-name>
		<servlet-name>DescargarMediaNoCorrectos</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarMediaNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarMediaNoCorrectos</servlet-name>
		<url-pattern>/descargar_media_no_correctos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarMerchandiseNoCorrectos</display-name>
		<servlet-name>DescargarMerchandiseNoCorrectos</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarMerchandiseNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarMerchandiseNoCorrectos</servlet-name>
		<url-pattern>/descargar_merchandise_no_correctos</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>DescargarClasificacionNoCorrectos</display-name>
		<servlet-name>DescargarClasificacionNoCorrectos</servlet-name>
		<servlet-class>servlet.registros.descargar.DescargarClasificacionNoCorrectos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DescargarClasificacionNoCorrectos</servlet-name>
		<url-pattern>/descargar_clasificacion_no_correctos</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>
		Main.html
		</welcome-file>
	</welcome-file-list>
   
</web-app>  